
@font-face {
    font-family: 'Apercu Pro';
    src: url('/fonts/apercu/web/pro/apercu-regular-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Exposure';
    src: url('/fonts/exposure/Exposure.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary: #808080;
    --text: #666666;

    --cpsi-orange: #F7A284;
    --cpsi-orange-transparent: rgba(241, 90, 36, 0.56);
    --cpsi-blue: #52BBE8;
    --cpsi-blue-transparent: rgba(41, 171, 226, 0.56);
    --cpsi-red: #CD5155;
    --cpsi-red-transparent: rgba(193, 39, 45, 0.56);
}

html {
    font-size: 16px;
    font-family: 'Apercu Pro';

}

body {
    font-size: 1.5rem;
    color: var(--text);
}
.wrapper {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'Exposure';
    font-size: 4rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.75rem;
}
p {
    font-size: 1.25rem;
}

.content {
    max-width: 96rem;
    margin: 0px auto;
}

footer {
    color: rgba(102, 102, 102, 0.56);
}

svg.circle {

}

.circle-orange {
    color: var(--cpsi-orange);
}
.circle-blue {
    color: var(--cpsi-blue);
}
.circle-red {
    color: var(--cpsi-red);
}

.circle-orange-transparent {
    color: var(--cpsi-orange-transparent);
}
.circle-blue-transparent {
    color: var(--cpsi-blue-transparent);
}
.circle-red-transparent {
    color: var(--cpsi-red-transparent);
}