
@font-face {
    font-family: 'Apercu Pro';
    src: url('/fonts/apercu/web/pro/apercu-regular-pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Exposure';
    src: url('/fonts/exposure/Exposure.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --text: #666666;
}

html {
    font-size: 16px;
    font-family: 'Apercu Pro';

}

body {
    font-size: 1.5rem;
    color: var(--text);
}
.wrapper {
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-family: 'Exposure';
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
}

.content {
    max-width: 96rem;
    margin: 0px auto;
}

footer {
    color: rgba(102, 102, 102, 0.56);
}

svg.circle {

}

.circle-orange {
    // color: rgba(241, 90, 36, 0.56);
    color: #F7A284;
}
.circle-blue {
    // color: rgba(41, 171, 226, 0.56);
    color: #52BBE8;
}
.circle-red {
    // color: rgba(193, 39, 45, 0.56);
    color: #CD5155;
}